<form method='post', action='/signup'>
  Username: <input type="text" name="username" placeholder="Username" required>
  Email: <input type="email" name="email" placeholder="Email" required>
  Password: <input type="password" name="password" required>
</form>
